# Ignorar dependencias instaladas en cada proyecto React
*/node_modules/

# Ignorar archivos de compilación o distribución
*/build/
*/dist/

# Ignorar configuraciones del entorno local
*/.env
*/.env.local
*/.env.*.local

# Ignorar logs
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# Ignorar configuraciones del editor o IDE
.vscode/
.idea/
*.swp
*.swo

# Ignorar directorios específicos del sistema operativo
.DS_Store
Thumbs.db
